@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's try <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy">SOP</a>, 
                 <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a>, 
                 <a href="https://developer.mozilla.org/en-US/docs/Glossary/CSRF">CSRF</a> 
             and <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">XSS</a> </p>
</div>
