@{
    ViewData["Title"] = "Greetings";
}

<form method="POST" action="/home/greetings">
    <label>Please input your user name:</label>
    <input type="text" id="username" name="username" /><br />
    <button type="submit">Submit</button>
</form>
